<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b2f2672a-4fb7-4e6e-9c81-b697ad4bc5c4/resourceGroups/RG-Production/providers/Microsoft.Web/sites/Api-Scylla-Pdn1</ResourceId>
    <ResourceGroup>RG-Production</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://api-scylla-pdn1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>7f86c857-1f3e-4dff-9850-a01cab659041</ProjectGuid>
    <MSDeployServiceURL>api-scylla-pdn1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Api-Scylla-Pdn1</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>Framework-dependent</SelfContained>
    <RuntimeIdentifier>Portable</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAAoINpmCUwkuV3GIlL5J4BwAAAAACAAAAAAADZgAAwAAAABAAAAB4YC6L/BB8PkahZnO6dxeOAAAAAASAAACgAAAAEAAAACwkh+EmQG+AwWZV0iTPXGgYAAAATExqL55hzAcAa6PTcvXFOgMqqUwvp7SFFAAAABRtYCpkbgrbhIj2uf7us2rKCgHv</EncryptedPassword>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>